<div class="container">
  <div class="header">
    <h1>The Lazy Loader</h1>
  </div>
  <div class="details">
    <h2><%= @book.title %></h2>
    <table>
      <thead>
        <tr>
          <th>Supplier</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <% @supplier_books.each do |sb| %>
        <tr>
          <td><%= sb.name %></td>
          <td><%= number_to_currency(sb.price/100) %></td>
          <td><%= number_to_currency(sb.discounted_price/100) %></td>
          <td><%= sb.discount_reason ? sb.discount_reason : nil %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
